@charset "UTF-8";

body.result {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
}

body.scan {
    background-color: #252525;
}

.app {
    padding: 0 30px;
}

#product-info {
    display: none;
    margin-top: 20px;
    width: 100%;
    margin: 30px auto;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
}

header,
footer,
#product-title {
    background: #111;
    background-image: linear-gradient(#3c3c3c,#111);
    padding: 10px 0;
}

footer {
    min-height: 64px;
}

#product-title {
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#pro-num {
    display: none;
}

.p-l,
.p-d {
    font-size: 24px;
    line-height: 50px;
}

.row:nth-child(even){
    background: rgba(0,0,0,.04);
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#buy-wrap {
    padding: 8px 20px;
}

#buy {
    width: 100%;
}

#select-num button {
    width: 55px;
}

.topcoat-button {
    width: 100%;
    height: 191px;
    display: block;
    background: url(../img/icon-scan.png) no-repeat center top;
}

/* 暂时隐藏 */
/*.result {
    display: none;
}*/

/* 高像素设备 */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    header,
    footer, 
    #product-title {
        padding: 18px 0;
    }

    footer {
        min-height: 80px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 45px;
    }

    .p-l,
    .p-d {
        font-size: 30px;
        line-height: 63px;
    }

    #buy-wrap {
        padding: 10px 25px;
    }

    #buy {
        font-size: 23px;
    }

    #select-num button {
        font-size: 18px;
    }
}