@charset "UTF-8";

body.result {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
}

/* 暂时隐藏 */
body.login {
    background-color: #252525;
}

div.result {
    display: none;
}

.app {
    padding: 0 30px;
}

#product-info {
    display: none;
    width: 100%;
    margin: 30px auto;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
}

header,
/*footer,*/
#product-title {
    background: #111;
    background-image: linear-gradient(#3c3c3c,#111);
    padding: 10px 0;
}

header {
    margin-bottom: 30px;
}

footer {
    min-height: 64px;
}

#product-title {
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#pro-num {
    display: none;
}

.p-l,
.p-d {
    font-size: 24px;
    line-height: 50px;
}

.row:nth-child(even){
    background: rgba(0,0,0,.04);
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#buy-wrap {
    padding: 8px 20px;
}

#buy {
    width: 100%;
    font-size: 25px;
}

#select-num button {
    width: 82px;
}

.topcoat-button {
    width: 100%;
    height: 208px;
    display: block;
    background: url(../img/icon-scan-350.png) no-repeat center top;
}

ul.dropdown-menu {
    min-width: 83px;
    margin-left: 14px;
}

ul.dropdown-menu li {
    text-align: center;
    padding: 0 20px;
}

ul.dropdown-menu li:nth-child(even){
    background: rgba(0, 0, 0, 0.04);
}

#buying-status {
    text-align: center;
    font-size: 30px;
}

/* ==== loading ==== */
#loading-wrapper {
    display: none;
}

#loading-text {
    background: url(../img/ajax-loader.gif) no-repeat center top;
    padding-top: 65px;
    margin-top: 45px;
    width: 100%;
    opacity: 0.7;
    text-align: center;
    color: #000;
}

#loading {
    width: 300px;
    height: 200px;
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
}

#loading-inner {
    width: 300px;
    height: 200px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 50%;
    bottom: 50%;
    z-index: 2001;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

/* ==== login ==== */
.login-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
}

.login {
    position: absolute;
    bottom: 50%;
    width: 100%;
}

.login .row {
    padding: 0 30px;
    margin-bottom: 30px;
}

.login .row:last-child {
    margin-bottom: 0;
}

/* 高dpi设备 */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    header,
    footer, 
    #product-title {
        padding: 18px 0;
    }

    header {
        margin-bottom: 38px;
    }

    footer {
        min-height: 80px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 45px;
    }

    #product-title {
        padding: 15px 0;
    }

    #buying-status,
    #product-title h2 {
        font-size: 36px;
    }

    .p-l,
    .p-d {
        font-size: 30px;
        line-height: 63px;
    }

    #buy-wrap {
        padding: 10px 25px;
    }

    #buy {
        font-size: 32px;
    }

    #select-num button {
        font-size: 18px;
    }

    .topcoat-button {
        background: url(../img/icon-scan-500.png) no-repeat center top;
        height: 302px;
    }

    #username,
    #password {
        padding: 40px 16px;
        font-size: 30px;
    }
}