@charset "UTF-8";

body.result {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
}

div.result {
    display: none;
}

.app {
    padding: 0 30px;
}

#product-info {
    display: none;
    width: 100%;
    margin: 30px auto;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.5);
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
}

header,
/*footer,*/
#product-title {
    background: url(../img/bg-footer.png) repeat left top #393939;
    /*background-image: linear-gradient(#636363,#2d2d2d);*/
    padding: 10px 0;
}

footer {
    background: url(../img/bg-footer.png) repeat left top #393939;
    border-top: 1px solid #575657;
    min-height: 110px;
}

header {
    margin-bottom: 30px;
}

#product-title {
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#pro-num {
    display: none;
}

.p-l,
.p-d {
    font-size: 24px;
    line-height: 50px;
}

.row:nth-child(even){
    background: rgba(0,0,0,.04);
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#buy-wrap {
    padding: 8px 20px;
}

#buy {
    width: 100%;
    font-size: 25px;
}

#select-num button {
    width: 82px;
}


/* ==== Scan button ==== */
.scan-button,
.button-bg,
.button-bg-2 {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.scan-button a,
.button-bg div,
.button-bg-2 div {
    position: absolute;
    right: 50%;
    bottom: 0;
    border-radius: 300px;
}

.scan-button {
    width: 160px;
    height: 160px;
}

.button-bg {
    width: 180px;
    height: 180px;
}

.button-bg-2 {
    width: 220px;
    height: 220px;
}

.button-bg div {
    width: 100%;
    height: 100%;
    bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.button-bg-2 div {
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url(../img/bg-footer.png) repeat left top #393939;
}

.scan-button .topcoat-button {
    display: block;
    width: 100%;
    height: 100%;
    background: #dbdbdb;
    background-image:  -webkit-radial-gradient(circle, #fff, #797979 70%);
    bottom: 30px;
    border: 2px solid #2d2d2d;
    overflow: hidden;
}

.topcoat-button:hover {
    text-decoration: none;
    color: #428bca;
}

.topcoat-button span {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.topcoat-button .icon {
    font-size: 50px;
    padding: 30px 0 10px;
    width: 100%;
}

.topcoat-button .blur {
    -webkit-filter: blur(6px);
    position: absolute;
}

.modern.embossed-link {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,1), 
                        inset 0 2px 1px rgba(255,255,255,.5), 
                        inset 0 -9px 2px rgba(0,0,0,.6), 
                        inset 0 -12px 5px rgba(255,255,255,.3);
}

.embossed-link {
    -webkit-box-shadow: inset 0 3px 2px rgba(255,255,255,.22), 
                        inset 0 -3px 2px rgba(0,0,0,.17), 
                        inset 0 20px 10px rgba(255,255,255,.12), 
                              0 0 4px 1px rgba(0,0,0,.1), 
                              0 3px 2px rgba(0,0,0,.2);
}

ul.dropdown-menu {
    min-width: 83px;
    margin-left: 14px;
}

ul.dropdown-menu li {
    text-align: center;
    padding: 0 20px;
}

ul.dropdown-menu li:nth-child(even){
    background: rgba(0, 0, 0, 0.04);
}

#buying-status {
    text-align: center;
    font-size: 30px;
}

/* ==== loading ==== */
#loading-wrapper {
    display: none;
}

#loading-text {
    background: url(../img/ajax-loader.gif) no-repeat center top;
    padding-top: 65px;
    margin-top: 45px;
    width: 100%;
    opacity: 0.7;
    text-align: center;
    color: #000;
}

#loading {
    width: 300px;
    height: 200px;
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
}

#loading-inner {
    width: 300px;
    height: 200px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 50%;
    bottom: 50%;
    z-index: 2001;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
}

/* ==== login ==== */
.login-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    background: #252525;
}

.login {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.login .row {
    padding: 0 30px;
    margin-bottom: 30px;
}

.login .row:last-child {
    margin-bottom: 0;
}

#login-status {
    text-align: center;
    font-size: 18px;
}

/* ==== Left Menu ==== */
header .dropdown {
    float: left;
}

#nav {
    color: #fff;
    font-size: 30px;
    background-color: transparent;
    border: 0;
}

/* 高dpi设备 */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

    header,
    footer, 
    #product-title {
        padding: 18px 0;
    }

    header {
        margin-bottom: 38px;
    }

    footer {
        min-height: 113px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 45px;
    }

    #product-title {
        padding: 15px 0;
    }

    #buying-status,
    #product-title h2 {
        font-size: 36px;
    }

    .p-l,
    .p-d {
        font-size: 30px;
        line-height: 63px;
    }

    #buy-wrap {
        padding: 10px 25px;
    }

    #buy {
        font-size: 32px;
    }

    #select-num button {
        font-size: 18px;
    }

    #username,
    #password {
        padding: 40px 16px;
        font-size: 30px;
    }

    #login-status {
        font-size: 30px;
    }

    button#login {
        font-size: 30px;
        padding: 15px 0;
    }

    .scan-button {
        width: 200px;
        height: 200px;
    }

    .button-bg {
        width: 220px;
        height: 220px;
    }

    .button-bg-2 {
        width: 260px;
        height: 260px;
    }

    .topcoat-button span {
        font-size: 25px;
    }

    .topcoat-button .icon {
        font-size: 62px;
        padding-top: 37px;
    }

    #nav {
        font-size: 38px;
    }

}