<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.yeshm.barcodedemo"
        version   = "1.0.0">
    <name>YH Scanner</name>

    <description>
        Scans barcodes.
    </description>

    <author href="http://www.yeshm.com" email="damon.chen@yeshm.com">
        Damon Chen
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

    <feature name="http://api.phonegap.com/1.0/device" />

    <!-- debug用得，完成后删除 -->
    <feature name="debug-server" required="true">
       <param name="domain" value="http://debug.phonegap.com"/>
       <param name="key" value="willoughby"/>
    </feature>

    <!-- Multi Platform -->
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    <preference name="webviewbounce"    value="false" />

    <!-- ios noly -->
    <!-- 点击HOME键终止程序 -->
    <preference name="exit-on-suspend" value="true" />

    <!-- android only -->
    <!-- value="10"表示支持android 2.3+ 以上的系统, 目前最高是19, 即4.4 -->
    <preference name="android-minSdkVersion" value="10" />
    <!-- value="auto"表示允许将程序安装在SD卡上，默认是value="internalOnly "-->
    <preference name="android-installLocation" value="auto" />

    <icon src="icon.png" />
    <!-- <gap:splash src="" gap:platform="ios" width="320" height="480" /> -->

</widget>
